.landing-image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* 100% of the viewport height */
}

/* App.css */
.landing-image {
  width: 30%;
  height: auto;
  object-fit: cover; /* Maintain aspect ratio and cover entire container */
}
